<section>
  <div class="container">
    <p class="h6 text-secondary">Fork Join</p>
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>userId</th>
            <th>title</th>
            <th>completed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of record">
            <td>{{ i.id }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.completed }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
