<section>
  <div class="container">
    <div class="row g-2">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <p class="h5 text-secondary">take</p>
            <ul #elcontainer></ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <p class="h5 text-secondary">takeLast</p>
            <ul #elcontainer1></ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="h5 text-secondary">takeUntil</p>
              <div>
                <button
                  class="btn btn-secondary me-2"
                  (click)="takeUntilDemo()"
                >
                  click
                </button>
                <button class="btn btn-secondary" (click)="stopObs()">
                  stopObs
                </button>
              </div>
            </div>
            <ul #elcontainer2></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
