<section class="mb-2">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <app-cardcontent>
            <a class="stretched-link text-decoration-none text-center text-secondary d-block fs-6 font500 shadow-md text- capitalize" routerLink="/switchmap">Switch Map</a>
          </app-cardcontent>
        </div>
        <div class="col-sm-3">
          <app-cardcontent>
            <a class="stretched-link text-decoration-none text-center text-secondary d-block fs-6 font500 text-capitalize" routerLink="/forkjoin">Fork Join</a>
          </app-cardcontent>
        </div>
        <div class="col-sm-3">
          <app-cardcontent>
            <a class="stretched-link text-decoration-none text-center text-secondary d-block fs-6 font500 text-capitalize" routerLink="/tap">Tap</a>
          </app-cardcontent>
        </div>
        <div class="col-sm-3">
          <app-cardcontent>
            <a class="stretched-link text-decoration-none text-center text-secondary d-block fs-6 font500 text-capitalize" routerLink="/merge">merge</a>
          </app-cardcontent>
        </div>
        <div class="col-sm-3">
          <app-cardcontent>
            <a class="stretched-link text-decoration-none text-center text-secondary d-block fs-6 font500 text-capitalize" routerLink="/map">map</a>
          </app-cardcontent>
        </div>
        <div class="col-sm-3">
          <app-cardcontent>
            <a class="stretched-link text-decoration-none text-center text-secondary d-block fs-6 font500 text-capitalize" routerLink="/filter">filter</a>
          </app-cardcontent>
        </div>
        <div class="col-sm-3">
          <app-cardcontent>
            <a class="stretched-link text-decoration-none text-center text-secondary d-block fs-6 font500 text-capitalize" routerLink="/take">take</a>
          </app-cardcontent>
        </div>
        <div class="col-sm-3">
          <app-cardcontent>
            <a class="stretched-link text-decoration-none text-center text-secondary d-block fs-6 font500 text-capitalize" routerLink="/subject">subject</a>
          </app-cardcontent>
        </div>
      </div>
    </div>
  </section>